*{
font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  background: linear-gradient(to right, #7d42b8, #2b6cb0, #663399);
  padding: 20px 40px;
  margin: 5px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
}

.navbar li {
  font-size: 1.1rem;
  cursor: pointer;
  transition: color 0.3s ease;
  font-weight: bold;
  color: whitesmoke;
}

.navbar li:hover {
  color: #000000;
}

.navbar-menu-btn {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-menu-btn {
    display: block;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
  }

  .navbar ul.show {
    display: flex;
  }
}
.navbar-logo{
  font-size: 2rem;
  font-weight: bold;
}