*{
text-decoration: none;
}
.projects-section {
  background: #1a202c;
  padding: 50px 20px;
  color: white;
  text-align: center;
}

.projects-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: #38b2ac;
  width: 100%;
  text-align: center;
  
}

.projects-container {
  background: linear-gradient(to right, #7d42b8, #2b6cb0, #663399);
    padding: 40px 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.project-card {
  background: #2d3748;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  text-align: center;
  margin: 0 auto;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card img {
  border-radius: 12px;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.project-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: whitesmoke;
}

.project-card p {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #e2e8f0;
text-decoration: none;
}

.project-card-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.project-card-buttons button {
  padding: 12px 24px;
  background-color: #38b2ac;
  color: white;
  font-weight: 600;
  border-radius: 9999px;
  transition: transform 0.3s ease;
}

.project-card-buttons button:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .projects-title {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .project-card {
    width: 100%;
    max-width: 90%;
  }

  .project-card h3 {
    font-size: 1.25rem;
  }

  .project-card p {
    font-size: 0.875rem;
  }

  .project-card-buttons button {
    font-size: 0.875rem;
    padding: 10px 20px;
  }
}